---
// src/pages/india.astro
import TopBar from "../components/TopBar.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="India News">
  <TopBar />
  <Header />
  <h1>India News</h1>
  <p>Latest news from India...</p>
  <!-- Your page content here -->
</Layout>
