---
// src/pages/india.astro
import Layout from "../layouts/Layout.astro";
---

<Layout title="India News">
  <h1>India News</h1>
  <p>Latest news from India...</p>
  <!-- Your page content here -->
</Layout>
