---
// src/pages/india.astro
import Layout from "../layouts/Layout.astro";
import TopBar from "../components/TopBar.astro";
import Header from "../components/Header.astro";
---

<Layout title="India News">
  <TopBar />
  <Header />
  <h1>India News Coming Soon</h1>

  <!-- Your page content here -->
</Layout>
