---
const videos = [
  { id: "jRR4Fe1L8BM" },
  { id: "_nft97sAxB0" },
  { id: "Sy7-smWuoSs" },
  { id: "etme7_5_HZA" },
  { id: "6a9I0chz-AE" },
  { id: "9fnvMRIytE8" },
  { id: "O_l4RwCWD5c" },
  // { id: "" },
  // { id: "" },
  // { id: "" },
  // { id: "" },
  // { id: "" },
  // { id: "" },
  // { id: "" },
  // { id: "" },
  // { id: "" },
  // { id: "" },
  // { id: "" },
];
---

<section class="video-gallery">
  {
    videos.map((video) => (
      <div class="video-thumbnail" data-video-id={video.id}>
        <img
          src={`https://img.youtube.com/vi/${video.id}/maxresdefault.jpg`}
          alt="Video Thumbnail"
        />
        <div class="play-button">
          <i class="fas fa-play" />
        </div>
      </div>
    ))
  }
</section>

<style>
  .video-gallery {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    /* max-width: 1600px; 
    margin: 0 auto; 
    width: 100%; */
  }

  .video-thumbnail {
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }

  .video-thumbnail:hover {
    transform: scale(1.03);
  }

  .video-thumbnail img {
    width: 100%;
    height: auto;
    display: block;
  }

  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background-color: rgba(255, 0, 0, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .play-button i {
    color: white;
    font-size: 24px;
    margin-left: 5px;
  }

  .video-title {
    padding: 15px;
    background: #f5f5f5;
    font-weight: bold;
  }

  @media (max-width: 600px) {
    .video-gallery {
      grid-template-columns: 1fr; /* Single column on mobile */
      gap: 40px; /* Reduced gap for mobile */
      padding: 15px; /* Reduced padding for mobile */
    }
  }
</style>
